.nav{
    @apply text-white font-bold text-center sticky;
    @apply flex justify-between shadow-lg mx-auto uppercase;
    @apply text-black text-base bg-white h-16 p-6 mb-10 sticky top-0 w-full z-50;
}

.link-tag {
    @apply cursor-pointer block mt-4 lg:inline-block; 
    @apply lg:mt-0 mr-8 border-white border-b-4 hover:border-black;
}

.active {
    @apply border-b-4 border-black;
}





